.m-new-blog{ padding-bottom: 80px; }
.m-new-blog>li{ margin-top: 20px; }
.m-new-blog li>span{
    display: inline-block;
    width: 120px;
    margin-right: 20px;
    font-size: 18px;
    font-weight: bold;
    line-height: 40px;
    vertical-align: top;
    text-align: right;
}
.m-new-blog li input{
    display: inline-block;
    width: 700px;
    height: 30px;
    line-height: 30px;
    padding: 5px 10px;
    font-size: 14px;
    color: $white;
    background-color: transparent;
    border: 2px solid $white;
    @include borderRadius(4px);
}
.m-new-blog li .u-ueditor{
    display: inline-block;
    width: 700px;
    height: 500px;
}
.u-select{ 
    position: relative;
    display: inline-block; 
}
.u-select .u-select-input{
    position: relative;
    display: inline-block;
    width: 160px;
    height: 30px;
    padding: 5px;
    border: 1px solid $white;
    @include borderRadius(4px);
    cursor: pointer;
}
.u-select .u-select-input input{
    display: inline-block;
    width: 130px;
    height: 20px;
    padding: 5px;
    border: none;
    cursor: pointer;
}
.u-select .u-select-input em{
    position: absolute;
    top: 15px;
    right: 15px;
    display: inline-block;
    width: 0;
    height: 0;
    border-top: 10px solid $white;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid transparent;
}
.u-select-drop{
    position: absolute;
    top: 40px;
    left: 0;
    display: none;
    width: 160px;
    padding: 5px;
    color: $darkGrey;
    background-color: $lightRed;
    border: 1px solid $white;
    cursor: pointer;
}
.u-select-drop ul li{
    padding: 5px;
    text-align: center;
    border-bottom: 1px dotted $darkGrey;
}
.u-select-drop ul li:hover{ background-color: $red; }
.m-label-cont{ 
    display: inline-block; 
    width: 700px;
}
.m-label-cont .m-label-input{ 
    border: 2px solid $white; 
    cursor: text;
    @include borderRadius(4px);
}
.m-label-cont .m-label-input input{
    width: 200px;
    border: none;
}
.m-label-useful dt{
    padding: 10px 0;
    font-size: 16px;
}
.m-label-useful dd a{
    display: inline-block;
    padding: 2px 6px;
    margin-right: 5px;
    margin-bottom: 10px;
    color: $darkGrey;
    background-color: $lightGrey;
    cursor: pointer;
    @include borderRadius(8px);
}
.m-authority{ display: inline-block; }
.m-authority ul li{
    display: inline-block;
    width: 200px;
    height: 30px;
    padding: 5px 0 5px 5px;
    margin-top: 0px;
    margin-right: 15px;
    border: 1px solid $white;
    cursor: pointer;
}
.m-authority ul li span{
    width: 150px;
    margin-right: 0;
    font-size: 14px;
    font-weight: normal;
    line-height: 30px;
    text-align: center;
}
.m-authority ul li em{
    display: inline-block;
    width: 30px;
    height: 30px;
    padding: 5px;
    margin-top: -5px;
    float: right;
    border-left: 1px solid $white;
}
.m-authority ul li:hover em,
.m-authority ul li.z-active em{
    background: url(../../build/img/project/icon-check.png) center center no-repeat;
    background-size: 60% 60%;
}
.m-pop{
    position: fixed;
    top: 30%;
    left: 50%;
    z-index: 2;
    display: none;
    padding: 0 0 20px;
    background-color: $white;
    @include borderRadius(6px);
}
.m-pop.m-addtype{
    width: 400px;
    margin-left: -200px;
}
.m-pop-title{
    height: 30px;
    padding: 10px;
    line-height: 30px;
    background-color: $lightGrey;
    @include borderRadiusT(6px,6px);
}
.m-pop-title span{
    font-size: 16px;
    color: $darkGrey;
}
.m-pop-title em{
    float: right;
    display:inline-block; 
    width:20px; 
    height:4px; 
    background: $red; 
    font-size:0; 
    line-height:0;
    margin-top: 12px;
    vertical-align:middle;
    cursor: pointer;
    -webkit-transform: rotate(45deg);
}
.m-pop-title em:after{
     content:'.'; 
     display:block; 
     width:20px; 
     height:4px; 
     background: $red;
     -webkit-transform: rotate(-90deg);
}
.m-pop-body{ text-align: center; } 
.m-pop-body input{
    display: block;
    width: 60%;
    padding: 5px;
    margin: 20px auto;
    border:  1px solid $grey;
    @include borderRadius(6px);
}
.m-label-1{
    display: inline-block;
    height: 10px;
    padding: 3px 5px;
}