////////
// variable defined
//  @author yy
//  2016.1.13
////////
$red : #f63b34;
$redHover : #cd302a;
$lightRed : #fdb7b5;
$blue : #1a93ff;
$blueHover : #007ca6;
$lightBlue : #b1daff;
$yellow : #f1ef23;
$yellowHover : #ffd510;
$lightYellow : #fffeab;
$green : #3cf12e;
$greenHover : #33c128;
$lightGreen : #afffa9;
$white : #fff;
$bgColor : #252525;
$darkGrey : #333;
$middleGrey : #666;
$grey : #999;
$lightGrey : #ccc;
