////////
// variable defined
//  @author yy
//  2016.1.13
////////
$red : #f63b34;
$redHover : #cd302a;
$blue : #0095c8;
$blueHover : #007ca6;
$yellow : #fffd52;
$yellowHover : #ffd510;
$green : #3cf12e;
$greenHover : #33c128;
$white : #fff;
$bgColor : #252525;
$darkGery : #333;
$middleGery : #666;
$gery : #999;
$lightGery : #ccc;
